html, body {
	height: 100%;
}

body {
	background-color:#cccccc;
	color: #4F4F4F;
}

a {
	color: white;
	text-decoration:underline;
}


a:visited {
	color: white;
	text-decoration:underline;
}

a img {
	border: none;
}

img.border {
}












